body {
  height: 100%;
  width: 100%;
  background-color: #C7A379;
  background-attachment: fixed;
  background: url(cover-large.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  position: fixed;
  width: 100%;
  bottom: 20%;
  text-align: center;
}

div a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: auto 0;
  color: #465462;
  border-color: #465462;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding: 4px 20px;
  text-decoration: none;
}

div a:hover {
  color: #25364A;
}
